---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WhatsAppStrip from '../components/WhatsAppStrip.astro';
import WhyBenjamin from '../components/WhyBenjamin.astro';
import Services from '../components/Services.astro';
import Pricing from '../components/Pricing.astro';
import Reviews from '../components/Reviews.astro';
import Gallery from '../components/Gallery.astro';
import PracticalHelp from '../components/PracticalHelp.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import StickyWhatsApp from '../components/StickyWhatsApp.astro';
---

<BaseLayout preloadImage="/images/hero/benjamin-rooftop.jpg">
  <Header />
  <main>
    <Hero />
    <WhatsAppStrip />
    <WhyBenjamin />
    <Services />
    <Pricing />
    <Reviews />
    <Gallery />
    <PracticalHelp />
    <Faq />
    <Contact />
  </main>
  <Footer />
  <StickyWhatsApp />
</BaseLayout>
